<h2 class="section-title">Death Note Rules</h2>

<div class="rules-container">
  <ol class="rules-list">
    <li>The human whose name is written in this note shall die.</li>
    <li>This note will not take effect unless the writer has the person's face in their mind when writing his/her name. Therefore, people sharing the same name will not be affected.</li>
    <li>If the cause of death is written within the next 40 seconds of writing the person's name, it will happen.</li>
    <li>If the cause of death is not specified, the person will simply die of a heart attack.</li>
    <li>After writing the cause of death, details of the death should be written in the next 6 minutes and 40 seconds.</li>
    <li>This note shall become the property of the human world, once it touches the ground of (arrives in) the human world.</li>
    <li>The owner of the note can recognize the image and voice of the original owner, i.e. a god of death.</li>
    <li>The human who uses the notebook can neither go to Heaven nor Hell.</li>
    <li>If the time of death is written within 40 seconds after writing the cause of death as a heart attack, the time of death can be manipulated, and the time can go into effect within 40 seconds after writing the name.</li>
    <li>The human who touches the Death Note can recognize the image and voice of its original owner, a god of death, even if the human is not the owner of the note.</li>
  </ol>
  
  <div class="rules-disclaimer">
    <p><strong>Note:</strong> In this application, "Death Note Reminders" serves as a task management tool with Death Note theming. No actual harm is intended or encouraged.</p>
  </div>
</div>

<div class="btn-group">
  <%= link_to "Back to Death Note", reminders_path, class: "btn" %>
</div>